
h1{
    text-align: center;
    
    font-weight: bolder;
    font-size: 2.5rem;
    text-decoration: solid;
}
.containerr{
    display: grid;
    grid-template-columns: minmax(0, 370px) minmax(0, 370px) minmax(0, 370px);
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    gap:3rem;
    
    
}
img{
    
  width: 100%;
  height: 200px;        /* or 13rem if you want */
  object-fit: cover;    /* crops nicely */
  border-radius: 10px;

}
.containerr div {
  
  border-radius: 10%;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: rgb(70, 68, 68);

  
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontal center */
  justify-content: center; /* vertical center */
  text-align: center;
}
.cont h2{
    color: rgb(236, 32, 32);
    font-family: Libre Baskerville;
    font-size: large;
}
.button{
    display: inline-flex;
}
.pressed{
  opacity: 0.5;
  transform: scale(0.97);
}
svg{
    height: 25px;
}


