.bc{
  background-color: rgb(159, 106, 106);
}
.ss{
    text-align: center;
    color: rgb(220, 232, 243);
    font-weight: bolder;
    font-size: 2.2rem;
    text-decoration: solid;
}
.containerr{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:10px;
}
img{
    height: 200px;
    width:80%;
    border-radius: 18px;
}
.containerr div {
  background-color: rgb(18, 17, 17);
  color: rgb(255, 0, 111);
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;

  
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontal center */
  justify-content: center; /* vertical center */
  text-align: center;
}
h2{
    color:black;
    font-family: Libre Baskerville;
}
button{
    display: inline-flex;
}
.pressed{
  opacity: 0.5;
  transform: scale(0.97);
}

